.SearchBar {
  width: 175px;
  border-radius: 20px;
  background-color: white;
}

.SearchBar_input > input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 4px 0 4px 12px;
  font-weight: lighter;
  font-family:'Oswald', sans-serif;
}

.SearchBar_input > img {
  width: 18px;
  opacity: 0.5;
  padding: 0 2px 5px 2px;
}