.SearchList {
  width: 100%;
  height: auto;
}

.SearchList > ul {
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);

}

.SearchList > ul > li > a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  padding: 5px 12px;
  opacity: 0.8;
  box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.2);
}

.SearchList > ul > li > a > img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.SearchList > ul > li > a:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255 , 0.8);
  color: black;
}