.App_navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.App_header {
  position: fixed;
  top: 0;
  left: 0;
}
.App_playbar {
  position: fixed;
  bottom: 0;
  left: 0;
}
.App_slider {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}